{% extends "bootstrap.html" %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="span8">
            <form class="form-horizontal"action="login" method="post" accept-charset="UTF-8">
                <fieldset>
                    <legend>Login</legend>
                    <!--<input id="email" style="margin-bottom: 15px;" type="text" name="email" size="30" value="Email Address" />
                    <input id="password" style="margin-bottom: 15px;" type="password" name="password" size="30" value="Password" />
                    <input id="remember_me" style="float: left; margin-right: 10px;" type="checkbox" name="remember_me" value="1" />-->
                    {{ login_form.hidden_tag() }}
                    <div class="control-group">
                        <label class="control-label">Email</label>
                        <div class="controls">
                            {{ login_form.email(type="email", class="input-xlarge", size=80) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Password</label>
                        <div class="controls">
                            {{ login_form.password(class="input-xlarge", size=80) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            {{ login_form.remember_me() }}
                            <label class="control-label">Remember Me</label>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"></label>
                        <div class="controls">
                            <!--<input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />-->
                            <button type="submit" class="btn btn-success" >Login</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock body %}

