{% extends "bootstrap.html" %}
{% block head %}
<title>Reports - Prey Standalone with Jinja2</title>
<style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map_canvas { height: 100%; max-width: none; }
    @media (min-width: 980px) { body { padding-top: 60px; } } 
</style>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    {% if reports.count() != 0 %}
                    {% for report in reports %}
                    <li class="nav-header active"><a href="#" id="{{ report['_id'] }}">{{ report['utc_time'] }}</a></li>
                    {% endfor %}
                    {% else %}
                    <li class="nav-header">No Reports</li>
                    {% endif %}
                </ul>
            </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
            <div class="map" id="map_canvas" style="height: 400px; display: block; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; overflow: auto;">
            </div>
        </div>
    </div>
</div>

    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfGNWtBSY8Jr2tEQAPxOgOTQ2AQ4IpcHI&sensor=false"></script>
    {% endblock %}
